<section>

    <div class="footer">
        
        <div class="inner_footer">
            <div class="logo_container">
                <img src="logo.png" alt="">
            </div>

                
            <div class="footer_third">
                <h1> Owner! </h1>
                <a href="#">JD</a>
            </div>

            <div class="footer_third">
                <h1> Need Help? </h1>
                <a href="#">Terms & Conditions</a>
                <a href="#">Policy!</a>
            </div>

            <div class="footer_third">
                <h1> Follow us! </h1>
                <li><a href="#"><i class = "fa fa-facebook"></i></a></li>
                
                <span>
                    2104 Old Orems Road Baltimore MD, 21220<br>
                    janddframingconstruction@gmail.com<br> 
                    443-846-6878
                </span>


            </div>

        </div>

    </div>


</section>
