<header>
    <a class="logo" href="/" >  J&D Framing Construction </a>
    <nav>
        <ul class="nav__links">
            <li><a href="/residential">Residential</a></li>
            <li><a href="/commerical">Commerical</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
        </ul>
    </nav>
    <a class="cta" href="/login">Log In</a>
    <p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Services</a>
        <a href="#">Projects</a>
        <a href="#">About</a>
    </div>
</div>


<script type="text/javascript" src="main.js"></script>